@import "../variables";

.container {
  height: 100vh;

  .card {
    border-radius: 12px;
    padding: 1.5rem;
    h1 {
      margin-bottom: 2rem;
      font-weight: 500;
    }
    .loginBtn {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
    .outlineButton {
      border: 2px solid $neustack-purple;
      background: transparent;
      color: $neustack-purple;
      font-size: nth($fontSize, 3);
      font-weight: 500;
      border-radius: 6px;
      height: 2.5rem;
      width: 22rem;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        background: $neustack-purple;
        color: #fff !important;
        border: 2px solid $neustack-purple;
      }
    }
  }
}
