@import "../variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;800;900&display=swap");

.sidebarContainer {
  background-color: $neustack-lilac;
  height: 100%;
  width: 100%;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  .sidebarHeading {
    font-size: nth($fontSize, 12);
    font-family: "Roboto" !important;
    font-weight: 700;
    margin-bottom: 4rem;
    color: $neustack-purple;
    cursor: pointer;
  }

  .sidebarItems {
    .activenavItem {
      padding: 0.8rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      background-color: rgba(57, 84, 255, 0.05);
      border-left: 5px solid $neustack-purple;
      cursor: pointer;
      transition: all 0.4s ease;
      .navIcon {
        margin-right: 1.2rem;
        font-size: 1.3rem;
        color: $neustack-purple;
        transition: all 0.4s ease-in-out;
        display: flex;
        align-items: center;
      }
      .navItemName {
        width: 40%;
        text-align: left;
        color: $neustack-purple;
        font-weight: 500;
      }
    }
    .navItem {
      padding: 0.8rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: all 0.4s ease;
      .navIcon {
        margin-right: 1.2rem;
        font-size: 1.3rem;
        color: $neustack-grey;
        transition: all 0.4s ease-in-out;
        display: flex;
        align-items: center;
      }
      .navItemName {
        width: 40%;
        text-align: left;
        color: $neustack-grey;
        font-weight: 500;
      }
      &:hover {
        background-color: rgba(57, 84, 255, 0.05);
        border-left: 5px solid $neustack-purple;
        .navIcon {
          color: $neustack-purple;
        }
        .navItemName {
          color: $neustack-purple;
        }
      }
    }
  }
}

.drawer {
  :global {
    .ant-drawer-content-wrapper {
      width: 16rem !important;
      background-color: $neustack-lilac;
    }
    .ant-drawer-wrapper-body {
      width: 16rem;
      background-color: $neustack-lilac;
    }
    .ant-drawer-body {
      padding: 0;
    }
  }
}

.mobileMenuContainer {
  display: none;
  padding-left: 2rem;
  padding-top: 3rem;

  @include responsive(tablet3) {
    display: flex;
  }

  .menuIcon {
    color: $neustack-purple;
    font-size: 1.5rem;
  }

  .closeIcon {
    color: $neustack-purple;
  }
}
